.py-4 {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}

.pt-0 {
  padding-top: 0!important;
}

.pt-7 {
  padding-top: 6rem !important;
}

.pe-0 {
  padding-right: 0!important;
}

.pe-6 {
  padding-right: 4.5rem !important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.pb-5 {
  padding-bottom: 3rem!important;
}

.pb-8 {
  padding-bottom: 7.5rem !important;
}

.ps-0 {
  padding-left: 0!important;
}

.ps-6 {
  padding-left: 4.5rem !important;
}

@media (min-width:992px) {
  .py-lg-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

